{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "eslint-config-prettier"
  ],
  "rules": {},
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}